*{
    font-family: sans-serif;
}

body{
    background-color: #2a5279;
}

.container{
    background-color: white;
    border-radius: .8rem;
    margin: auto;
    text-align: left;
    width: 350px;
}

.container h1{
    color: #222;
    padding: 1rem;
}

.divider{
    background-color: #c4c2c277;
    margin: -30px 1px 1rem 20px;
    height: 1px;
    width: 300px;
}

.field{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.field label{
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.field input{
    border-radius: .4rem;
    border: #c4c2c277 solid 1px;
    height: 40px;
    width: 300px;
    font-size: 20px;
}


.field ::placeholder{
    font-size: 17px;
    padding: 10px;
}


.blue{
    cursor: pointer;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background: #002fff;
    height: 50px;
    border-radius: .4rem;
    width:300px;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.form p {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    color: red;
}

.message{
    position: relative;
    border: white solid;
    top: 1rem;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-top-color: lightgreen;
    border-bottom-color: lightgreen;
    animation: spinner 2s infinite backwards;
}

@keyframes spinner {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

pre{
    display: none;
}